@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('images/image.png') center/cover;
}

.header {
    background-color: rgb(45, 44, 44);
    /* position: relative; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav_links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav_links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}